# Archivos temporales
*.tmp
*.log

# Carpetas de node_modules y dependencias
/node_modules

# Archivos de configuración locales
.env.local

# Carpetas de build
/build
/dist

# Variables de entorno
.env
.env.local
.env.development
.env.test
.env.production